In [22]:
import pandas as pd
import chardet
import json
# import matplotlib.pyplot as plt
# import seaborn as sns

In [23]:

path = "data/scrapes/aitah_data_5.csv"
with open(path, 'rb') as f:
    rawdata = f.read()
result = chardet.detect(rawdata)
encoding = result['encoding']
print(f"Detected encoding: {encoding}")

data_5 = pd.read_csv(
    path,
    encoding=encoding,
    sep=';',
    on_bad_lines='warn',
)

print('Loaded rows,cols:', data_5.shape)

Detected encoding: UTF-8-SIG
Loaded rows,cols: (332, 3)

In [24]:
print(data_5["link_flair_text"].value_counts(), '/n')

link_flair_text
Asshole                    284
Not the A-hole              13
Asshole POO Mode            10
Not enough info              7
Everyone Sucks               6
No A-holes here              5
Not the A-hole POO Mode      2
UPDATE                       2
META                         1
POO Mode Activated ðŸ’©         1
Name: count, dtype: int64 /n

# Opening JSONs

## Scraped JSONs

In [34]:
with open("data/pushshift/yearly/AmItheAsshole_submissions_2024.txt") as file:
    raw_submissions = file.read()

result_list = []
for line in raw_submissions.splitlines():
    result_list.append(json.loads(line))

data_df = pd.json_normalize(result_list)
print(data_df.shape)
data_df[["score","title","selftext"]].head()

(47857, 116)

,score,title,selftext
0,1,AITA for feeling insecure when my bf talks exc...,I've been in an on/off relationship over the l...
1,1,AITA (M20) for not wanting my girlfriend (F21)...,\nMy (M20) girlfriend (F21) and I were going o...
2,1,AITA for asking for roommates to pay for utili...,in my sophomore year of college i signed a lea...
3,1,AITA for telling my sister and neice how I felt?,For context my siblings are nearly 2 decades o...
4,1,WIBTA if I decided not to attend my friends we...,So I have a friend thatâ€™s getting married Janu...

## Sample of archive data

In [20]:
sample_20000 = pd.read_csv("data/samples/sample_20000.csv")
useful_cols = sample_20000.isna().sum().sort_values(ascending=True).head(20).index.to_list()
print(useful_cols)

['num_comments', 'link_flair_text', 'stickied', 'subreddit', 'over_18', 'score', 'thumbnail', 'author', 'id', 'edited', 'is_self', 'permalink', 'subreddit_id', 'title', 'created_utc', 'gilded', 'link_flair_css_class', 'selftext', 'locked', 'archived']

C:\Users\brzak\AppData\Local\Temp\ipykernel_22560\1502021625.py:1: DtypeWarning: Columns (0,2,4,11,20,22,33,35,36,41,80,81,82,84,85,89,92,95,96,100,101,113,114,121,123,130,134,135,136,144,147,155,162,164,168,169,172,173,174,175,176) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_20000 = pd.read_csv("data/samples/sample_20000.csv")